.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.toggle-icon {
  font-size: 30px;
  background: none;
  border: none;
  cursor: pointer;
  color: inherit;
}

.gallery-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
  border-radius: 10px 10px 0 0;
  transition: transform 0.3s ease;
}

.filter-item {
  display: none;
}

.filter-item.show {
  display: block;
}

.filter-btn {
  padding: 12px 25px;
  font-size: 1rem;
  border-radius: 25px;
  text-transform: uppercase;
  font-weight: 600;
  transition: all 0.3s ease;
  background-color: transparent;
  color: inherit;
}

.filter-btn.btn-dark {
  
  color: #ffffff;
  border: none;
}

.filter-btn.btn-outline-dark {
  border: 2px solid #4e5d6c;
  color: #4e5d6c;
  
}

.filter-btn:hover,
.filter-btn.btn-dark:hover,
.filter-btn.btn-outline-dark:hover {
  transform: scale(1.05);
  background-color: #90a4ae;
  color: #ffffff;
  border-color: #90a4ae;
}

footer {
  background: linear-gradient(to right, #141E30, #243B55);
}

footer h5 {
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
}

footer p {
  font-size: 0.95rem;
  line-height: 1.6;
  max-width: 600px;
  margin: 0 auto;
}

.footer-btn {
  border-radius: 50px;
  padding: 10px 30px;
  font-weight: bold;
}


small {
  color: #ccc;
}